### What is the difference between residence and workplace geography?  

**Residence geography** refers to the geographic location at which the respondent resides during the reference week.

**Workplace geography** refers to the geographic location of the respondent’s workplace, also referred to as “place of work”. Questions about place of work are asked of respondents who indicated that they worked at some time during the reference week. The place of work refers to the geographic location at which workers carried out their occupational activities during the reference week.

In the ACS, there are tables for residence geography and those for workplace geography. Unless the table indicates otherwise, it refers to residence-based geography. Other tables that indicate they are for workplace geography refer to the worker population who works in an area. For example, in the ACS Table B08007: SEX OF WORKERS BY PLACE OF WORK contains the number of workers living in an area crossed by sex, while ACS Table B08406: SEX OF WORKERS BY MEANS OF TRANSPORTATION TO WORK FOR WORKPLACE GEOGRAPHY contains the number of workers who work in an area crossed by sex and means of transportation to work.

https://www.census.gov/hhes/commuting/about/faq.html

In [2]:
import numpy as np
import pandas as pd

### Preprocessing1.

In [3]:
MEANS_OF_TRANSPORTATION_BY_POVERTY_STATUS = pd.read_excel('~/dss4/LinkNYC/transportation_data/MEANS OF TRANSPORTATION TO WORK BY POVERTY STATUS IN THE PAST 12 MONTHS.xls')
MEANS_OF_TRANSPORTATION_BY_POVERTY_STATUS

,C08122: MEANS OF TRANSPORTATION TO WORK BY POVERTY STATUS IN THE PAST 12 MONTHS - Universe: Workers 16 years and over for whom poverty status is determined,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,2015 American Community Survey 1-Year Estimates,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"Supporting documentation on code lists, subjec...",NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Although the American Community Survey (ACS) p...,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,"New York city, New York",NaN,NaN,NaN
6,NaN,NaN,NaN,Estimate,NaN,NaN,Margin of Error
7,Total:,NaN,NaN,"3,984,696",NaN,NaN,"+/-21,183"
8,Below 100 percent of the poverty level,NaN,NaN,"332,206",NaN,NaN,"+/-10,797"
9,100 to 149 percent of the poverty level,NaN,NaN,"293,997",NaN,NaN,"+/-11,594"
10,At or above 150 percent of the poverty level,NaN,NaN,"3,358,493",NaN,NaN,"+/-21,218"
11,"Car, truck, or van - drove alone:",NaN,NaN,"870,512",NaN,NaN,"+/-15,770"
12,Below 100 percent of the poverty level,NaN,NaN,"42,184",NaN,NaN,"+/-3,963"
13,100 to 149 percent of the poverty level,NaN,NaN,"43,707",NaN,NaN,"+/-3,530"
14,At or above 150 percent of the poverty level,NaN,NaN,"784,621",NaN,NaN,"+/-14,582"
15,"Car, truck, or van - carpooled:",NaN,NaN,"176,680",NaN,NaN,"+/-8,794"
16,Below 100 percent of the poverty level,NaN,NaN,"12,819",NaN,NaN,"+/-2,033"
17,100 to 149 percent of the poverty level,NaN,NaN,"13,719",NaN,NaN,"+/-2,146"
18,At or above 150 percent of the poverty level,NaN,NaN,"150,142",NaN,NaN,"+/-7,877"
19,Public transportation (excluding taxicab):,NaN,NaN,"2,272,534",NaN,NaN,"+/-22,097"
20,Below 100 percent of the poverty level,NaN,NaN,"201,339",NaN,NaN,"+/-8,386"
21,100 to 149 percent of the poverty level,NaN,NaN,"184,820",NaN,NaN,"+/-8,484"
22,At or above 150 percent of the poverty level,NaN,NaN,"1,886,375",NaN,NaN,"+/-21,660"
23,"Taxicab, motorcycle, bicycle, walked, or oth...",NaN,NaN,"507,514",NaN,NaN,"+/-12,907"
24,Below 100 percent of the poverty level,NaN,NaN,"59,144",NaN,NaN,"+/-4,394"
25,100 to 149 percent of the poverty level,NaN,NaN,"41,578",NaN,NaN,"+/-3,897"
26,At or above 150 percent of the poverty level,NaN,NaN,"406,792",NaN,NaN,"+/-11,447"
27,Worked at home:,NaN,NaN,"157,456",NaN,NaN,"+/-8,266"
28,Below 100 percent of the poverty level,NaN,NaN,"16,720",NaN,NaN,"+/-2,377"
29,100 to 149 percent of the poverty level,NaN,NaN,"10,173",NaN,NaN,"+/-1,884"
30,At or above 150 percent of the poverty level,NaN,NaN,"130,563",NaN,NaN,"+/-7,359"
31,NaN,Data are based on a sample and are subject to ...,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,bounds) contains the true value. In addition t...,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,Workers include members of the Armed Forces an...,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,While the 2015 American Community Survey (ACS)...,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,"Estimates of urban and rural population, housi...",NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,"Source: U.S. Census Bureau, 2015 American Comm...",NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,Explanation of Symbols:\n\n 1. An '**' ent...,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,6. An '*****' entry in the margin of erro...,NaN,NaN,NaN,NaN,NaN

### Preprocessing2. PLACE OF WORK FOR WORKERS 16 YEARS AND OVER--METROPOLITAN STATISTICAL AREA LEVEL

In [12]:
PLACE_OF_WORK = pd.read_excel('~/dss4/LinkNYC/transportation_data/PLACE OF WORK FOR WORKERS 16 YEARS AND OVER--METROPOLITAN STATISTICAL AREA LEVEL.xls')
PLACE_OF_WORK

,C08016: PLACE OF WORK FOR WORKERS 16 YEARS AND OVER--METROPOLITAN STATISTICAL AREA LEVEL - Universe: Workers 16 years and over living in a metropolitan statistical area,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,2015 American Community Survey 1-Year Estimates,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"Supporting documentation on code lists, subjec...",NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Although the American Community Survey (ACS) p...,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,"New York city, New York",NaN,NaN,NaN
6,NaN,NaN,NaN,Estimate,NaN,NaN,Margin of Error
7,Total:,NaN,NaN,"3,992,612",NaN,NaN,"+/-21,149"
8,Worked in Metropolitan Statistical Area of r...,NaN,NaN,"3,953,634",NaN,NaN,"+/-21,160"
9,Worked in a principal city,NaN,NaN,"3,731,459",NaN,NaN,"+/-21,396"
10,Worked outside any principal city,NaN,NaN,"222,175",NaN,NaN,"+/-9,593"
11,Worked in a different Metropolitan Statistic...,NaN,NaN,"33,965",NaN,NaN,"+/-3,194"
12,Worked in a principal city,NaN,NaN,"18,238",NaN,NaN,"+/-2,028"
13,Worked outside any principal city,NaN,NaN,"15,727",NaN,NaN,"+/-2,340"
14,Worked in a Micropolitan Statistical Area,NaN,NaN,"1,639",NaN,NaN,+/-629
15,Worked outside any Metropolitan or Micropoli...,NaN,NaN,"3,374",NaN,NaN,"+/-1,107"
16,NaN,Data are based on a sample and are subject to ...,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Workers include members of the Armed Forces an...,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,While the 2015 American Community,NaN,NaN,NaN,NaN,NaN
21,NaN,Survey (ACS) data generally reflect the Februa...,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,"Estimates of urban and rural population, housi...",NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,"Source: U.S. Census Bureau, 2015 American Comm...",NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,Explanation of Symbols:\n\n 1. An '**' ent...,NaN,NaN,NaN,NaN,NaN

In [13]:
PLACE_OF_WORK = PLACE_OF_WORK.rename(columns={'Unnamed: 3': 'Estimate', 'Unnamed: 6': 'Margin of Error'})
PLACE_OF_WORK

,C08016: PLACE OF WORK FOR WORKERS 16 YEARS AND OVER--METROPOLITAN STATISTICAL AREA LEVEL - Universe: Workers 16 years and over living in a metropolitan statistical area,Unnamed: 1,Unnamed: 2,Estimate,Unnamed: 4,Unnamed: 5,Margin of Error
0,2015 American Community Survey 1-Year Estimates,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"Supporting documentation on code lists, subjec...",NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Although the American Community Survey (ACS) p...,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,"New York city, New York",NaN,NaN,NaN
6,NaN,NaN,NaN,Estimate,NaN,NaN,Margin of Error
7,Total:,NaN,NaN,"3,992,612",NaN,NaN,"+/-21,149"
8,Worked in Metropolitan Statistical Area of r...,NaN,NaN,"3,953,634",NaN,NaN,"+/-21,160"
9,Worked in a principal city,NaN,NaN,"3,731,459",NaN,NaN,"+/-21,396"
10,Worked outside any principal city,NaN,NaN,"222,175",NaN,NaN,"+/-9,593"
11,Worked in a different Metropolitan Statistic...,NaN,NaN,"33,965",NaN,NaN,"+/-3,194"
12,Worked in a principal city,NaN,NaN,"18,238",NaN,NaN,"+/-2,028"
13,Worked outside any principal city,NaN,NaN,"15,727",NaN,NaN,"+/-2,340"
14,Worked in a Micropolitan Statistical Area,NaN,NaN,"1,639",NaN,NaN,+/-629
15,Worked outside any Metropolitan or Micropoli...,NaN,NaN,"3,374",NaN,NaN,"+/-1,107"
16,NaN,Data are based on a sample and are subject to ...,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Workers include members of the Armed Forces an...,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,While the 2015 American Community,NaN,NaN,NaN,NaN,NaN
21,NaN,Survey (ACS) data generally reflect the Februa...,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,"Estimates of urban and rural population, housi...",NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,"Source: U.S. Census Bureau, 2015 American Comm...",NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,Explanation of Symbols:\n\n 1. An '**' ent...,NaN,NaN,NaN,NaN,NaN

In [14]:
PLACE_OF_WORK.drop(PLACE_OF_WORK.columns[[1, 2, 4, 5]], axis=1, inplace=True)
PLACE_OF_WORK

,C08016: PLACE OF WORK FOR WORKERS 16 YEARS AND OVER--METROPOLITAN STATISTICAL AREA LEVEL - Universe: Workers 16 years and over living in a metropolitan statistical area,Estimate,Margin of Error
0,2015 American Community Survey 1-Year Estimates,NaN,NaN
1,NaN,NaN,NaN
2,NaN,NaN,NaN
3,NaN,NaN,NaN
4,NaN,NaN,NaN
5,NaN,"New York city, New York",NaN
6,NaN,Estimate,Margin of Error
7,Total:,"3,992,612","+/-21,149"
8,Worked in Metropolitan Statistical Area of r...,"3,953,634","+/-21,160"
9,Worked in a principal city,"3,731,459","+/-21,396"
10,Worked outside any principal city,"222,175","+/-9,593"
11,Worked in a different Metropolitan Statistic...,"33,965","+/-3,194"
12,Worked in a principal city,"18,238","+/-2,028"
13,Worked outside any principal city,"15,727","+/-2,340"
14,Worked in a Micropolitan Statistical Area,"1,639",+/-629
15,Worked outside any Metropolitan or Micropoli...,"3,374","+/-1,107"
16,NaN,NaN,NaN
17,NaN,NaN,NaN
18,NaN,NaN,NaN
19,NaN,NaN,NaN
20,NaN,NaN,NaN
21,NaN,NaN,NaN
22,NaN,NaN,NaN
23,NaN,NaN,NaN
24,NaN,NaN,NaN
25,NaN,NaN,NaN
26,NaN,NaN,NaN
27,NaN,NaN,NaN

In [15]:
PLACE_OF_WORK = PLACE_OF_WORK.drop(PLACE_OF_WORK.index[range(7)])
PLACE_OF_WORK

,C08016: PLACE OF WORK FOR WORKERS 16 YEARS AND OVER--METROPOLITAN STATISTICAL AREA LEVEL - Universe: Workers 16 years and over living in a metropolitan statistical area,Estimate,Margin of Error
7,Total:,"3,992,612","+/-21,149"
8,Worked in Metropolitan Statistical Area of r...,"3,953,634","+/-21,160"
9,Worked in a principal city,"3,731,459","+/-21,396"
10,Worked outside any principal city,"222,175","+/-9,593"
11,Worked in a different Metropolitan Statistic...,"33,965","+/-3,194"
12,Worked in a principal city,"18,238","+/-2,028"
13,Worked outside any principal city,"15,727","+/-2,340"
14,Worked in a Micropolitan Statistical Area,"1,639",+/-629
15,Worked outside any Metropolitan or Micropoli...,"3,374","+/-1,107"
16,NaN,NaN,NaN
17,NaN,NaN,NaN
18,NaN,NaN,NaN
19,NaN,NaN,NaN
20,NaN,NaN,NaN
21,NaN,NaN,NaN
22,NaN,NaN,NaN
23,NaN,NaN,NaN
24,NaN,NaN,NaN
25,NaN,NaN,NaN
26,NaN,NaN,NaN
27,NaN,NaN,NaN

In [16]:
PLACE_OF_WORK = PLACE_OF_WORK.drop(PLACE_OF_WORK.index[range(9, 21)])
PLACE_OF_WORK

,C08016: PLACE OF WORK FOR WORKERS 16 YEARS AND OVER--METROPOLITAN STATISTICAL AREA LEVEL - Universe: Workers 16 years and over living in a metropolitan statistical area,Estimate,Margin of Error
7,Total:,"3,992,612","+/-21,149"
8,Worked in Metropolitan Statistical Area of r...,"3,953,634","+/-21,160"
9,Worked in a principal city,"3,731,459","+/-21,396"
10,Worked outside any principal city,"222,175","+/-9,593"
11,Worked in a different Metropolitan Statistic...,"33,965","+/-3,194"
12,Worked in a principal city,"18,238","+/-2,028"
13,Worked outside any principal city,"15,727","+/-2,340"
14,Worked in a Micropolitan Statistical Area,"1,639",+/-629
15,Worked outside any Metropolitan or Micropoli...,"3,374","+/-1,107"

In [17]:
PLACE_OF_WORK = PLACE_OF_WORK.rename(columns={'C08016: PLACE OF WORK FOR WORKERS 16 YEARS AND OVER--METROPOLITAN STATISTICAL AREA LEVEL - Universe: Workers 16 years and over living in a metropolitan statistical area': 'Type'})
PLACE_OF_WORK

,Type,Estimate,Margin of Error
7,Total:,"3,992,612","+/-21,149"
8,Worked in Metropolitan Statistical Area of r...,"3,953,634","+/-21,160"
9,Worked in a principal city,"3,731,459","+/-21,396"
10,Worked outside any principal city,"222,175","+/-9,593"
11,Worked in a different Metropolitan Statistic...,"33,965","+/-3,194"
12,Worked in a principal city,"18,238","+/-2,028"
13,Worked outside any principal city,"15,727","+/-2,340"
14,Worked in a Micropolitan Statistical Area,"1,639",+/-629
15,Worked outside any Metropolitan or Micropoli...,"3,374","+/-1,107"

In [18]:
PLACE_OF_WORK = PLACE_OF_WORK.set_index("Type")
PLACE_OF_WORK

                                                     Estimate Margin of Error
Type
Total:                                              3,992,612       +/-21,149
  Worked in Metropolitan Statistical Area of re...  3,953,634       +/-21,160
    Worked in a principal city                      3,731,459       +/-21,396
    Worked outside any principal city                 222,175        +/-9,593
  Worked in a different Metropolitan Statistica...     33,965        +/-3,194
    Worked in a principal city                         18,238        +/-2,028
    Worked outside any principal city                  15,727        +/-2,340
  Worked in a Micropolitan Statistical Area             1,639          +/-629
  Worked outside any Metropolitan or Micropolit...      3,374        +/-1,107

In [21]:
PLACE_OF_WORK.to_csv('~/dss4/LinkNYC/transportation_data/(Preprocessed)PLACE OF WORK FOR WORKERS 16 YEARS AND OVER--METROPOLITAN STATISTICAL AREA LEVEL.csv')

In [22]:
PLACE_OF_WORK = pd.read_csv('~/dss4/LinkNYC/transportation_data/(Preprocessed)PLACE OF WORK FOR WORKERS 16 YEARS AND OVER--METROPOLITAN STATISTICAL AREA LEVEL.csv')
PLACE_OF_WORK

,Type,Estimate,Margin of Error
0,Total:,"3,992,612","+/-21,149"
1,Worked in Metropolitan Statistical Area of r...,"3,953,634","+/-21,160"
2,Worked in a principal city,"3,731,459","+/-21,396"
3,Worked outside any principal city,"222,175","+/-9,593"
4,Worked in a different Metropolitan Statistic...,"33,965","+/-3,194"
5,Worked in a principal city,"18,238","+/-2,028"
6,Worked outside any principal city,"15,727","+/-2,340"
7,Worked in a Micropolitan Statistical Area,"1,639",+/-629
8,Worked outside any Metropolitan or Micropoli...,"3,374","+/-1,107"